body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#303841;
  /*font size is inherit for precent and em*/
  background-color: #EEEEEE;
}
/* text align centers an element which does not have width property if that element has the width property
then we must use margin */

p{
  line-height: 2;
}

h1 {
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
  /*width: 10%;
  margin: 0 auto 0  auto;*/
  /*font-size: 562.5%;     16px=100%=1em */
  font-size: 5.62rem; /*rem ignores the herit from parent only css3*/
  color: #303841;
  /*line-height: 2;*/
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #303841;
  font-weight: normal;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #FF5722;
}

.top-container{
  background:  #00ADB5;
  position: relative;
  padding-top: 100px;

}


.middle-container{
  margin: 100px 0;

}
.pro {
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

hr{
  border-style: dotted none none none;
  width: 4%;
  border-width: 6px;
  border-color: GREY;
  margin: 100px auto 100px auto;
}

.Mypic{
  height: 200px;
  width: 200px;
}


a{
  color: #FF5722;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EEEEEE;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.code{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chilly{
  width: 25%;
  float: right;
  margin-left: 30px;
}



/* .Description{
  clear: left;
}  it sotps text from wrapping opposite of float!*/

/* .second-Description{
  clear: right;
} */

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.contact-me{
  width: 50%;
  margin: auto;

}

.Mypic{
  margin-top: 100px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 50px;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2b4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2b4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2b4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2b4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2b4ad);
  text-decoration: none;
}

.bottom-container{

  background-color: #303841;
  padding: 50px 0 20px;
}

.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 30%;
  margin: auto;
}
